.formWrapper {
  border-radius: 25px;
  background: var(--main-color-a01);
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 16px 18px;
    outline: none;

    font-family: var(--first-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color);
  }
}

.submit {
  border-radius: 30px;
  padding: 16px;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: var(--main-color);

  font-family: var(--first-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: var(--background-color-2);
}

.title {
  font-family: var(--first-font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 107%;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.text {
  font-family: var(--first-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color-a08);
}

.link {
  font-family: var(--first-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--text-color-a05);
  text-align: center;
}

.inputButton {
  position: relative;
}

.toggleVisibility {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.eye {
  stroke: var(--text-color);
  fill: none;
}
