.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;
  width: 100%;
}

.logoutBtn {
  display: none;
}

.usermenu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.burgerbtn {
  padding: 0;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .burgerbtn {
    display: none;
  }

  .logoutBtn {
    display: block;
    font-family: var(--first-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
  }
}
