.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  font-family: var(--first-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.usericon {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
}

.header .username {
  color: var(--text-color);
}

.header .usericon {
  background: var(--main-color);
}

.menu .username {
  color: var(--background-color-2);
}

.menu .usericon {
  background: var(--background-color-2);
}
