.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 43px;
}

.image {
  width: 247px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-family: var(--first-font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--text-color-a08);
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: column;
  }
  .image {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .image {
    display: block;
    width: auto;
  }

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
}
