/* MacPaw Fixel Display */
@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("/fonts/MacPawFixelDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("/fonts/MacPawFixelDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("/fonts/MacPawFixelDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("/fonts/MacPawFixelDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* SF Pro Display */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Breakpoints */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* Colors */
  --black: #121417;
  --green: #85aa9f;
  --white: #fcfcfc;
  --white-1: #f8f8f8;

  /* Fonts */
  --first-font-family: "MacPaw Fixel Display", sans-serif;
  --second-font-family: "SF Pro Display", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "MacPaw Fixel Display", sans-serif;
  font-weight: 400;
}
